node_modules
.npmrc

# Output
.output
.vercel
.netlify
.wrangler
.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

#Prisma
migrations

# Database files
static/uploads
